{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "padding-line-between-statements": "off",
    "@next/next/no-document-import-in-page": "off",
    "@next/next/no-img-element": "off",
    "jsx-a11y/alt-text": "off"
    // "padding-line-between-statements": [
    //   "error",
    //   { "blankLine": "always", "prev": "*", "next": "export" }
    // ]
  }
}
